KCLAWBOX_WORKSPACE_NAME=gator
KCLAWBOX_AGENT_NAME=gator
OLLAMA_MODEL=qwen3.6:latest
OPENCLAW_GATEWAY_TOKEN=replace-me
OPENCLAW_CONTAINER_NAME=kclawbox-gator
OPENCLAW_IMAGE_NAME=kclawbox:kclawbox-gator
OLLAMA_HOST_PORT=11434
OPENCLAW_HOST_PORT=18789
HOST_WORKSPACE_DIR=./workspaces/gator
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOW_FROM=
